[submodule "Frontend"]
	path = Frontend
	url = git@github.com:2024-SummerBootcamp-Team-L/Solomon-Docker.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:2024-SummerBootcamp-Team-L/Solomon-Docker.git
