[submodule "Frontend"]
	path = Frontend
	url = https://github.com/2024-SummerBootcamp-Team-L/Frontend.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/2024-SummerBootcamp-Team-L/Backend.git
